{% if not h1 %}{% set h1 = 'All posts' %}{% endif %}
{% if not title %}{% set title = h1 + ' - ' + SITENAME%}{% endif %}
{% if not description %}{% set description = SITENAME + ': computer science, travels, etc.' %}{% endif %}
{% extends "base.html" %}
{% block content %}
<header>
    {% include 'nav-blog.html' %}
</header>
<h1>{{ h1 }}</h1>
{% if articles %}
    {% block period %}
        {% if output_file == 'archives.html' %}
            <p>
                Browse articles by year: {% for year, list in articles|groupby('date.year') %}<a href="{{ SITEURL }}/posts/{{ year }}/index.html">{{ year }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
            </p>
            <br />
        {% endif %}
    {% endblock period %}

    {% block feeds %}{% endblock %}

    {% block list %}
    <section>
        <ol>
            {% for article in articles %}
                    <li class="no-bullet-point">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                        {% if not HIDE_DATE %}<time class="article-details small" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
                        <p class="article-details indent">{{ article.summary|striptags }}</p>
                    </li>
            {% endfor %}
        </ol>
    </section>
    {% endblock list %}
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
