{% set title = article.title + ' - ' + SITENAME %}
{% set description = article.summary|striptags %}
{% extends "base.html" %}

{% block additional_tags %}{% for tag in article.tags %}, {{ tag.name }}{% endfor %}{% endblock %}

{% block content %}
{% include 'nav-blog.html' %}
<header class="article-header center">
    {% if article.image %}
    <img src="images/{{ article.image }}" alt="Header picture" id="header-picture" />
    {% endif %}
    <p id="back-line" class="small grey"><span>
        {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% if article.modified %} - Last Update: <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>{% endif %}{% endif %}
        </p>
    <h1>{{ article.title }}</h1>
    <div class="grey">
        <p class="italic">{{ article.summary|striptags }}</p>
        <p class="small">
        {# READING TIME #}
        {% set tmp1 = article.content|striptags %}
        {% set tmp2 =  tmp1.strip().split(' ') %}
        {% set count = 0 %}
        {% for a in tmp2|reject('equalto', '') %}
            {% set count = count + 1 %}
            {% if loop.last %}
            &#128338; <span title="Based on a 200 words per minute reading speed. This article has a total of {{ count }} words.">{% if 1 > (count/200)|round|int %}Less than 1{% else %}{{ (count/200)|round|int }}{% endif %} min read</span>
            {% endif %}
        {% endfor %}
        {# article.content|striptags|wordcount #}
        {# END READING TIME #}
        </p>
        {% if article.category %}<p class="small">Category: <a title="Go to the category" href="{{ SITEURL }}/{{article.category.url}}">{{ article.category }}</a></p>{% endif %}
        {% if article.tags %}<p class="small">Tags: {% for tag in article.tags %}<a title="Go to the tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>{% endif %}
    </div>
</header>
<article>
    {{ article.content }}
</article>
<footer class="grey italic small">
    {% if not HIDE_DATE %}
    Last update: {% if article.modified %}{{ article.locale_modified }}{% else %}{{ article.locale_date }}{% endif %}
    {% endif %}
</footer>
{% endblock %}
