{% set title = article.title + ' - ' + SITENAME %}
{% set description = article.summary|striptags %}
{% extends "base.html" %}

{% block content %}
<header class="article-header center">
    {% include 'nav-blog.html' %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.summary }}</p>
    <div class="article-details">
        {% if not HIDE_DATE %}<p class="small"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% if article.modified %} - Last Update: <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>{% endif %}</p>{% endif %}
        {% if article.category %}<p class="small">Category: <a title="Go to the category" href="{{ SITEURL }}/{{article.category.url}}">{{ article.category }}</a></p>{% endif %}
        {% if article.tags %}<p class="small">Tags: {% for tag in article.tags %}<a title="Go to the tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>{% endif %}
    </div>
</header>
<article>
    {{ article.content }}
</article>
<footer class="article-details">
    {% if not HIDE_DATE %}
    Last update: {% if article.modified %}{{ article.locale_modified }}{% else %}{{ article.locale_date }}{% endif %}
    {% endif %}
</footer>
{% endblock %}
