{% set h1 = 'Categories' %}
{% set no_article_count = True %}
{% set description = SITENAME + ': all the categories' %}
{% extends "archives.html" %}

{% block list %}
    <ul>
    {%- for category, articles in categories %}
        <li>
            <strong><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></strong> ({{ articles|count }}):
            {% for art in articles|sort(attribute='title') %}<a href="{{ art.url }}" rel="bookmark" title="Permalink to {{ art.title|striptags }}">{{ art.title }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
        </li>
    {% endfor %}
    </ul>
{% endblock list %}
