{% extends "archives.html" %}

{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}
{% block title_social %}{{ category }} - {{ SITENAME }}{% endblock %}
{% block h1 %}All posts in the category '{{ category }}'{% endblock %}
{% block feeds %}
    <p>Feeds for this category:
        <a class="center" href="{{ FEED_DOMAIN }}/feeds/categories/{{ category.slug }}/rss.xml">RSS</a> and
        <a class="center" href="{{ FEED_DOMAIN }}/feeds/categories/{{ category.slug }}/atom.xml">Atom</a>
    </p>
    <br />
{% endblock feeds %}
