<nav class="flexbox-row">
    {% if output_file != 'index.html' %}
        <a class="center" href="{{ SITEURL }}/">Homepage</a>
    {% endif %}
    <a class="center" href="{{ SITEURL }}/articles.html">All articles</a>
    <a class="center" href="{{ SITEURL }}/categories.html">Categories</a>
    <a class="center" href="{{ SITEURL }}/tags.html">Tags</a>
    <a class="center" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS feed</a>
    <a class="center" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom feed</a>
</nav>
