<nav class="flexbox-row">
    <a class="center" href="{{ SITEURL }}/">Homepage</a>
    <span class="center">|| Blog:</span>
    <a class="center" href="{{ SITEURL }}/archives.html">All articles</a>
    <a class="center" href="{{ SITEURL }}/categories.html">Categories</a>
    <a class="center" href="{{ SITEURL }}/tags.html">Tags</a>
    <a class="center" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS feed</a>
    <a class="center" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom feed</a>
</nav>
