body {
    background: #222222;
    color: #EEEEEE;
    font-family: sans-serif;
    text-align: center;
}

form {
    margin-top: 100px;
}

form input {
    padding: 10px;
    text-align: center;
    border: none;
    margin: 0;
    transition-property: box-shadow;
    transition-duration: 1s;
}

form input:focus {
    outline: 0;
}

form input:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #DDDDDD;
    color: #444444;
    box-shadow: 0px 0px 10px 3px #DDDDDD;
}

form input:first-child:focus {
    box-shadow: none;
}

form input:first-child:focus + input {
    box-shadow: 0px 0px 10px 3px #DDDDDD;
}

form input:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #444444;
    color: #EEEEEE;
}

a {
	color: white;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	background-color: grey;
	border-radius: 5px;
	border: 4px outset #AAA;
	visibility: hidden;
}
a:hover {
	background-color: #333333;
	border: 4px inset #333;
	padding: 12px 8px 8px 12px;
	color: #AAA;
}

#contact {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	text-align: center;
	color: #BBB;
	font-size: 0.8em;
}

@media screen and (min-width: 500px) {
    form input {
        font-size: 1.2em;
    }
}

@media screen and (min-height: 500px) {
    form {
        margin-top: 200px;
    }
}

@media screen and (min-height: 700px) {
    form {
        margin-top: 300px;
    }
}

@media screen and (min-height: 850px) {
    form {
        margin-top: 400px;
    }
}

@media screen and (min-height: 1050px) {
    form {
        margin-top: 500px;
    }
}
